{% extends 'partials/base.html.twig' %}

{% block content %}

    {# ABOUT #}
    {% set about = page.find('/home') %}
    <header id='header' class="header">
        <div id='headline' class='header--headline'>
        <span class='header--headline--title'>{{ about.header.headline }}</span>
        <span class='header--headline--close'>schliessen</span>
        </div>
        <div class='header--contact'>{{ about.header.contact|markdown }}</div>
        <div class='header--about'>{{ about.content|markdown }}</div>
    </header>

  {# IMAGES & CAPTIONS #}
  {% set items = page.find('/images').children %}
  {% for item in items %}
    <div class='item' id='{{item.slug}}'>
        <a class='item--link' href=''>
        <img 
            class='item--image' 
            srcset="{{item.media[item.header.image].resize(500).url}} 600w,
                    {{item.media[item.header.image].resize(800).url}} 900w,
                    {{item.media[item.header.image].url}} 1200w"
            sizes="(max-width: 600px) 600px,
                    (max-width: 900px) 900px,
                    1200px"
            src="{{item.media[item.header.image].url}}" alt="{{item.content|markdown}}">
        </a>
      <div class='item--caption'>{{item.content|markdown}}</div>
    </div>
  {% endfor %}

{% endblock %}
